*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dgrey: #1b1b32;
  --grey:#A99F96;
  --light-grey: #f5f6f7;
  --black: #000;
  --white: #fff;
  --mgrey: #3b3b4f;
  --golden-yellow: #fecc4c;
  --yellow: #ffcc4c;
  --gold: #feac32;
  --orange: #ffac33;
  --dark-orange: #f89808;
  --pastel:#945D5E;
  --siren:#37123C;
  --peach: #DDA77B;
  --ppl: #71677C;
  --tg: #A29893;
}

body {
  background-image: linear-gradient(var(--tg), var(--mgrey),var(--ppl), var(--dgrey));
 );
}

.title {
  font-size: 2rem;
  color: var(--light-grey);
  text-align: center;
  margin: 50px auto;
}

#trip-card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin:20px 60px 60px 60px;
  
}

.trip-card {
  background-color: var(--peach);
  padding: 25px;
  text-align: center;
  border-radius: 30px;
  margin: 20px 10px;
  border: 1px solid var(--golden-yellow);
}

.trip-price {
  font-size: 1.4rem;
  margin:20px;
  color:var(--white);
  padding:10px 5px 10px 5px;
  border-radius:20px;
   box-shadow: 1px 1px 50px var(--dgrey); 
}

.btn {
  display: block;
  cursor: pointer;
  width: 100px;
  color: var(--dgrey);
  background-color: var(--gold);
  background-image: linear-gradient(var(--golden-yellow), var(--orange));
  border-color: var(--gold);
  border-width: 3px;
}

.btn:hover {
  background-image: linear-gradient(var(--yellow), var(--dark-orange));
}

#cart-btn {
  position: absolute;
  margin: 25px 20px; 
  top: 0;
  right: 0;
  border-radius:12px;
  padding:8px 10px;
  background: var(--pastel);
  border:2px solid var(--white);
  color:white;
}
#cart-btn:hover {
  background: var(--siren);
  border:2px solid var(--white);
  height:10%;
  width:10%;
}

.add-to-cart-btn {
  margin: 30px auto 10px;
  border-radius:15px;
  padding:5px;
  background-color: var(--peach);
}

#cart-container {
  display: none;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: var(--light-grey);
  width: 200px;
  height: 400px;
  border: 15px double var(--black);
  border-radius: 15px;
  text-align: center;
  font-size: 1.2rem;
  overflow-y: scroll;
}

.cruise {
  margin: 25px 0;
}

.cruise-count {
  display: inline-block;
  margin-right: 10px;
}

.cruise-duration {
  margin: 10px 0;
}

@media (min-width: 768px) {
  #trip-card-container {
    flex-direction: row;
  }

  .trip-card {
    flex: 1 0 21%;
  }

  .trip-duration {
    color:var(--white);
    font-weight: heavy;
  }

  #cart-container {
    width: 300px;
  }
}
